.jumbotron h1{
    font-size: 30px;
}

.photo-item{
    width: 150px;
    float: left;
    text-align: center;
    margin-right: 10px;
}

.photo-item img{
    width: 150px;
}

.carousel{
    max-width: 295px;
}

.col-sm-4 .carousel-inner ~ a > span {
    position: relative;
    top: 50%;
}